USE [master]
GO
/****** Object:  Database [BP215]    Script Date: 6.11.2024 11:54:31 ******/
CREATE DATABASE [BP215]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BP215', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BP215.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BP215_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BP215_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BP215].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BP215]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 6.11.2024 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] NULL,
	[Name] [nvarchar](15) NULL,
	[Surname] [nvarchar](20) NULL,
	[Age] [int] NULL,
	[AvgPoint] [decimal](4, 2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
